body, input, canvas{
  box-sizing: border-box;
}

div{
  padding: 0px;
}

p{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #F9F9F9;
}

.gray{
  color: #808080;
}

.blank{
  clear: both;
}

.nav{
  padding: 10px 20px;
  vertical-align: middle;
  background-color: white;
}

.search{
  position: relative;

  input{
    position: absolute;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    border-width: 1px;
  }

  input::-webkit-input-placeholder{
    font-size: 20px;
  }

  i{
    color: white;
    font-size: 24px;
  }
}

.search_icon{
  background-color: #343A40;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 215px;
  z-index: 5;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  padding-top: 12px;
}

.search_wrap{
  position: absolute;
  width: 250px;
  height: 50px;
}

.icon_wrap{
  width: 220px;
  height: 50px;
  text-align: center;
  justify-items:center;
  align-items: center;
}

.icon{
  position: relative;
  font-size: 18px;
}

.notice_count{
  background-color: red;
  color: white;
  position: absolute;
  width: 18px;
  height: 18px;
  font-size: 11px;
  font-weight: 900;
  border-radius: 5px;
  right: 7px;
  top: -5px;
}

.sidebar{
  background-color: #494CB4;
  color: white;
  width: 180px;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  padding-top: 30px;
  padding-left: 25px;
  font-size: 20px;
  transform: translateX(-120px);
  transition: all 1s;
}

// .sidebar_items_icon{
//   padding-right: 15px;
// }

.sidebar_items_word{
  position: relative;
  transition: transform 0.75s;
  transition-delay: 0.25s;
}

.dashboard_box{
  background-color: white;
  width: 90%;
  border-radius: 5px;
  
}
.dashboard_icon{
  justify-content: center;
}

.dashboard_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.border_skyblue{
  border-left: #87CEEB solid 5px;
}

.border_lightgreen{
  border-left: #40C95A solid 5px;
}

.border_blue{
  border-left: #696CC0 solid 5px;
}

.border_yellow{
  border-left: #FFCB54 solid 5px;
}

.graph{
  width: 60%;
  background-color: white;
}

.graph_name{
  width: 100%;
  background-color: #F9F9F9;
  border: #eee solid 2px;
}

.task{
  width: 35%;
}

.task_list{
  background-color: white;
  border: #eee solid 2px;
}

.list_icon{
  display: none;
  font-size: 30px;
  text-align: end;
}

#myChart{
  border-left: #eee solid 2px;
  border-right: #eee solid 2px;
  border-bottom: #eee solid 2px;
}



.sidebar:hover{
  .sidebar_items_icon{
    order: 1;
  }
  .sidebar_items_word{
    transform: translateX(10px);
    order: 2;
  }
  transform: translateX(0px);
  
}

.search input:focus{
  width: 400px;

  .search_icon{
    transform: translateX(150px);
  }
}



@media screen and (max-width : 768px) {
  .list_icon{
    display: block;
  }

  .nav>div{
    display: none;
  }

  .dashboard_container{
    display: block;
  }
  .dashboard_box{
    width: 100%;
  }


  .graph, .task{
    float: none;
    width: 100%;
  }
}