div{
  box-sizing: border-box;
}

body{
  margin: 0px;
}

.main-background{
  width: 100%;
  height: 500px;
  background-image: url(shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  position: relative;
}

.main-title{
  color: white;
  font-size: 40px;
  margin-top: 300px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.main-content{
  color: white;
  margin-left: 10px;
}

.main-background button{
  
  font-size: 16px;
  border-radius: 6px;
  /* position: relative;
  bottom: -25px;
  left: 80%; */

  position: absolute;
  bottom: 94px;
  right: 10px;
  z-index: 5;
}

.sub-content{
  background-color: gray;

  padding-left: 5%;
  padding-right: 5%;
  position:absolute;
  text-align: center;
  white-space: normal;
  bottom: 140px;
  left: 20%;
  right: 20%;
  z-index: 1;
}

.sub-content p{
  white-space: normal;
  word-wrap: break-word;
}
