.plus{
  font-size: 60px;
  text-align: center;
  display: inline;
}

.plus:hover{
  animation-name: rotate;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes rotate{
  0%{
    // 그대로
    transform: rotate(0deg);
  }
  40%{
    // 왼쪽회전
    transform: rotate(-20deg);
  }
  100%{
    // 오른쪽회전 커짐
    transform: scale(1.3) rotate(45deg);
  }
}