.navbar>li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.navbar>li>a {
  font-size: 16px;
  text-decoration: none;

}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.left-big {
  width: 65%;
  height: 300px;
  background-color: gray;
  float: left;
}

.right-big {
  width: 35%;
  height: 300px;
  background-color: aqua;
  float: right;
}

.product-img {
  width: 100%;
}

.user-name {
  height: 30%;

}


.title {
  height: 10%;
}

.intro {
  height: 45%;
}

.share {
  height: 15%;
}

.inline {
  display: inline;
}

.user-img-box {
  width: 15%;
  float: left;
  background-color: aquamarine;
  height: 100%;
}

.letter {
  width: 85%;
  float: right;
  background-color: beige;
  height: 100%;
}

.user-img {
  height: 80%;
}

h4,
p {
  margin: 1px;
}