div{
  box-sizing: border-box;
}

.flex_container {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 100%;
}

.flex_item {
  height: 20px;
  text-align: center;
  margin: 10px;
  font-size: 20px;
}
